@font-face {
	font-family: "logo";
	src:
		url("font/themundayfreeversion-regular-webfont.woff2") format("woff2"),
		url("font/themundayfreeversion-regular-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

:root {
	--btn-color: #596d48;
	--btn-default-border-clr: #e5e7eb;
	--input-focus: #2563eb;
	--input-error: #ef4444;
	--heading: #ffffff;
	--bg-color: #f9fafb;
	--form-bg: #ffffff;
	--text: #111827;
	--label: #374151;
}
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

input,
button,
textarea,
select {
	font: inherit;
}
