@font-face {
	font-family: "logo";
	src:
		url("font/themundayfreeversion-regular-webfont.woff2") format("woff2"),
		url("font/themundayfreeversion-regular-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

:root {
	--btn-color: #596d48;
	--btn-default-border-clr: #e5e7eb;
	--input-focus: #2563eb;
	--input-error: #ef4444;
	--heading: #ffffff;
	--bg-color: #f9fafb;
	--form-bg: #ffffff;
	--text: #111827;
	--label: #374151;
}
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
img {
	display: block;
	width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
	display: block;
}

body {
	background-color: var(--bg-color);
	font-family: Arial, Helvetica, sans-serif;
}
.main {
	/* border: 2px solid blue; */
	min-height: 100vh;
	display: flex;
}

.logo-section .image {
	width: 30%;
}
.logo-container {
	padding: 16px 0px;
	background-color: rgba(0, 0, 0, 0.26);

	margin-top: 10rem;
	justify-content: center;
	align-items: center;
	gap: 9px;
	display: flex;
}

.logo-section {
	width: 350px;
	background-image: url("images/bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;

	/* 	border: 2px solid yellow; */
}
.logo-section h1 {
	color: var(--heading);
	font-weight: 900;
	font-size: 2rem;
	font-family: "logo", sans-serif;
}

.hero {
	flex: 1;
	/* border: 2px solid red; */
	display: flex;
	flex-direction: column;
}

.form-section {
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	padding: 15px;
	/* border: 2px solid yellow; */
	background-color: var(--form-bg);
}

.form-section h2 {
	margin-bottom: -12px;
	margin-left: 22px;
	/* border: 2px solid blanchedalmond; */
	font-size: 1.5rem;
	color: grey;
}

form {
	padding: 1.4rem;
	display: flex;
	gap: 80px;
	/* border: 2px solid yellow; */
}

form label {
	color: var(--label);
	font-weight: bold;
}
form > * {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

form input {
	padding: 4px 12px;
	transition: all 0.3s;
}

form input:not(input[type="password"]):focus {
	outline: none;
	border: 2px solid var(--input-focus);
	box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.192);
}

input[type="password"]:invalid {
	outline: none;
	border: 2px solid var(--input-error);
	box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.192);
}

input[type="password"]:valid {
	outline: none;
	border: 2px solid var(--btn-color);
}

.introduction p:first-child {
	/* 	border: 2px solid red; */

	font-size: 1.2rem;
	width: 58ch;
	font-weight: bold;
	line-height: 1.2rem;

	margin: 22px 0px 16px 16px;
	/* border: 2px solid black; */
}

.introduction p:nth-child(2) {
	/* border: 2px solid rebeccapurple; */
	font-weight: bold;
	font-size: 1.2rem;
	margin-bottom: 24px;
	margin-left: 16px;
}

.buttons button {
	margin: 2rem 0rem 1rem 2rem;
	background-color: var(--btn-color);
	color: white;
	padding: 12px 24px;
	border-radius: 8px;
	border: none;
	font-weight: bold;
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.178);
	cursor: pointer;
}

.buttons a {
	text-decoration: none;
	color: var(--btn-color);
}

.buttons p {
	margin-left: 2rem;
}
