@font-face {
	font-family: "logo";
	src:
		url("font/themundayfreeversion-regular-webfont.woff2") format("woff2"),
		url("font/themundayfreeversion-regular-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

:root {
	--btn-color: #596d48;
	--btn-default-border-clr: #e5e7eb;
	--input-focus: #2563eb;
	--input-error: #ef4444;
	--heading: #ffffff;
	--bg-color: #f9fafb;
	--form-bg: #ffffff;
	--text: #111827;
	--label: #374151;
}
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
img {
	display: block;
	width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

body {
	background-color: var(--bg-color);
	font-family: Arial, Helvetica, sans-serif;
}
.main {
	min-height: 100vh;
	display: flex;
}

.logo-section .image {
	width: 30%;
}
.logo-container {
	padding: 16px 0px;
	background-color: rgba(0, 0, 0, 0.26);

	margin-top: 10rem;
	justify-content: center;
	align-items: center;
	gap: 9px;
	display: flex;
}

.logo-section {
	width: 380px;
	background-image: url("images/bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;

	border: 2px solid yellow;
}
.logo-section h1 {
	color: var(--heading);
	font-weight: 900;
	font-size: 3rem;
	font-family: "logo", sans-serif;
}
